.main__container__login {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-top: 7%;
}

.mb-3 {
    display: flex;
    color: #9e9e9e;
}

.mb-3>input {
    width: 100%;
    padding-left: 10px;
}

.fa {
    font-size: 25px;
    margin-right: 10px;
    padding-top: 6px;
}

.main__button_login {
    background-color: #f89b69;
    color: white;
    width: 100%;
    border: none;
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main__button_login:hover {
    background-color: white;
    color: #f89b69;
    border: 1px solid #f89b69;
}

.main__title__login {
    color: #f89b69;
}

.input:focus {
    outline: none !important;
    border: 1px solid #f89b69;
    box-shadow: 0 0 10px #719ECE;
}

#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: white;
    color: red;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 80px;
    font-size: 17px;
    white-space: nowrap;
}

#toast #img {
    width: 50px;
    height: 50px;
    border: red;
    float: left;

    padding-top: 16px;
    padding-bottom: 16px;

    box-sizing: border-box;


    background-color: red;
    color: #fff;
}

#toast #desc {


    color: red;

    padding: 16px;

    overflow: hidden;
    white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

.lerror,
.ferror,
.emailerror,
.passerror,
.repasserror {
    visibility: hidden;
    color: red;
    font-size: 0px;
    padding-left: 30px;
    padding-top: 5px;
}

.showErrorFirst,
.showErrorEmail,
.showErrorLast,
.showErrorPass,
.showErrorRePass {
    visibility: visible;
    color: red;
    font-size: 12px;
    padding-left: 30px;
}


@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 80px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 80px;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 80px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 80px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}